$sizeM: 768px;
$sizeLl: 1440px;

.read-more{
  display: flex;
  align-items: center;
  min-width: 150px;
  margin: 0 auto 16px 16px;
  @media (min-width: $sizeM){
    margin-left: 24px;
  }
  @media (min-width: $sizeLl){
    margin-left: 32px;
  }
}

.read-more__expand{
  margin-right: 2px;
}